*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1200px;
}

ul#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

li.actor {
  list-style: none;
  margin: 24px 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5rem;
  background-color: rgba(120, 216, 248, 0.2);
  border: 1px solid rgba(120, 216, 248, 0);
  border-left: 8px solid rgb(120, 216, 248);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, border-left 0.2s;
}

li.actor:hover {
  background-color: rgba(74, 142, 245, 0.2);
  border: 1px solid rgb(74, 142, 245);
  border-left: 8px solid rgb(74, 142, 245);
}

p {
  font-family: monospace;
  font-size: 0.9rem;
}

dialog {
  display: none;
}

dialog::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
}

dialog[open] {
  display: block;
  margin: auto;
  border: none;
  background-color: transparent;

  animation-name: open-pop-up;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 1.5, 0.6, 1);
}

.pop-up {
  background-color: rgba(74, 142, 245, 0.4);
  border: 6px solid rgb(74, 142, 245);
  border-radius: 12px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 8rem;
}

.pop-up p {
  font-size: 1.5rem;
}

@keyframes open-pop-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
